[user]
    name = David Barnett
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
[init]
    defaultBranch = main
[color]
    ui = auto
[merge]
    tool = meld
[mergetool]
    keepBackup = false
    prompt = false
[diff]
    algorithm = patience
[pull]
    ff = only
[include]
    path = .gitconfig.d/user.conf
