[user]
    name = David Barnett
    # email =
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
[color]
    ui = auto
[merge]
    tool = meld
[mergetool]
    keepBackup = false
    prompt = false
[diff]
    algorithm = patience
