[user]
    name = David Barnett
    email = davidbarnett2@gmail.com
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
[color]
    ui = auto
[merge]
    tool = meld
[mergetool]
    keepBackup = false
[diff]
    algorithm = patience
