#:schema ./_schema.json
[user]
name = "David Barnett"
email = "{{ if hasKey . "vcs_author_email" }}{{ .vcs_author_email }}{{ else }}{{ output "git" "config" "user.email" | trim }}{{ end }}"

[ui]
editor = "nvim"
merge-editor = "meld"
graph.style = "curved"
pager = "delta"
diff-formatter = ":git"

[fsmonitor]
backend = "watchman"

[revset-aliases]
'mine' = "author(\"{{ if hasKey . "vcs_author_email" }}{{ .vcs_author_email }}{{ else }}{{ output "git" "config" "user.email" | trim }}{{ end }}\") | author(dbarnett) | author(regex:\"david\\\\.?(erich|barnett).*\")"
'user(x)' = 'author(x) | committer(x)'
'off(x)' = 'x.. | ((x..)- & :x)'
'default(n)' = '@ | ancestors(immutable_heads().., n) | trunk()'

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"
